﻿
@{
    ViewBag.Title = "New Message";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error.Message
    </div>
}

<h2>New Message</h2>
<form class="form form-horizontal" method="POST">
    <div class="form-group">
        <label class="control-label col-md-2">Header</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="header" id="headerinput" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Message</label>
        <div class="col-md-10">
            <textarea class="form-control" rows="10" name="message" id="messageinput"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" class="btn btn-primary btn-block"/>
        </div>
    </div>
</form>

<div class="row" id="btn-debug">
    <div class="col-md-12">
        <button class="btn btn-default" id="sampletweet">Sample Tweet</button>
        <button class="btn btn-default" id="samplesms">Sample SMS</button>
        <button class="btn btn-default" id="sampleemail">Sample E-Mail</button>
        <button class="btn btn-default" id="samplesiremail">Sample SIR E-Mail</button>
    </div>
</div>

@section scripts {
    <script>
        function getID() {
            return Math.floor((Math.random() * 999999999) + 100000001);
        }
        $('#sampletweet').bind('click', function () {
            $('#headerinput').val('T' + getID());
            $('#messageinput').val('@@sender This is a sample #tweet @@napier');
        });

        $('#samplesms').bind('click', function () {
            $('#headerinput').val('S' + getID());
            $('#messageinput').val('+441234567891 This is a sample SMS Message LOL');
        });

        $('#sampleemail').bind('click', function () {
            $('#headerinput').val('E' + getID());
            $('#messageinput').val('sender@@example.com\r\nSubject Line\r\nThis is a message body');
        });

        $('#samplesiremail').bind('click', function () {
            $('#headerinput').val('E' + getID());
            $('#messageinput').val('sender@@example.com\r\nSIR 01/02/15\r\nSort Code: 12-34-56\r\nNature of Incident: Cash Loss\r\nThis is a message body for a SIR');
        });

        $(document).ready(function () {
            if (location.search.indexOf("debug") === -1) {
                $('#btn-debug').hide();
            }
        });
    </script>
}