﻿@{
    ViewBag.Title = "Message Detail";
}

<h2>Message Detail: @ViewBag.Message.GetType().Name</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Message Type</td>
        <td>@ViewBag.Message.GetType().Name</td>
    </tr>
    <tr>
        <td>Message ID</td>
        <td>@ViewBag.Message.ID</td>
    </tr>
    <tr>
        <td>Received</td>
        <td>@ViewBag.Message.Received</td>
    </tr>
    <tr>
        <td>Sender</td>
        <td>@ViewBag.Message.Sender</td>
    </tr>
    @if (ViewBag.Message.GetType().Name.Equals("EMail") || ViewBag.Message.GetType().Name.Equals("SIREmail"))
    {
        <tr>
            <td>Subject</td>
            <td>@ViewBag.Message.Subject</td>
        </tr>
    }
    <tr>
        <td>Message Body</td>
        <td><span style="white-space: pre-line">@ViewBag.Message.Body</span></td>
    </tr>
    @if (ViewBag.Message.GetType().Name.Equals("Tweet"))
    {
        <tr>
            <td>Mentions</td>
            <td>@String.Join(", ", ViewBag.Message.Mentions)</td>
        </tr>
        <tr>
            <td>Hashtags</td>
            <td>@String.Join(", ", ViewBag.Message.Hashtags)</td>
        </tr>
    }
    </tbody>
</table>

<h4>
    JSON Output of @ViewBag.Message.GetType().Name
    <span class="pull-right">
        @Html.ActionLink("Export JSON", "Export", "Message", new { ViewBag.Message.ID }, new { @class="btn btn-primary btn-xs" })
    </span>
</h4>
<pre><code>@ViewBag.Message.GetJson()</code></pre>