﻿@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>

<form class="form form-horizontal" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-md-2">Single Message</label>
        <div class="col-md-6">
            <input type="file" class="form-control" name="single" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Multiple Messages</label>
        <div class="col-md-6">
            <input type="file" class="form-control" name="multiple" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
            <input type="submit" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>