﻿@{
    ViewBag.Title = "Messages";
}

<h2>
    Messages
    @if (ViewBag.ByType != null)
    {
        <small>@ViewBag.RequestedType</small>
    }
    else
    {
        <span class="pull-right">
            @Html.ActionLink("Export All Messages", "ExportAll", "Message", new {@class = "btn btn-primary btn-xs"})
        </span>
    }
</h2>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Sender</th>
        <th>Received</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var message in ViewBag.Messages)
        {
            <tr>
                <td>@Html.ActionLink((string)message.ID, "Details", "Message", new { message.ID }, null)</td>
                <td>@Html.ActionLink((string)message.Type, "ByType", "Message", new { id = message.Type.Replace(" ", "") }, null)</td>
                <td>@message.Sender</td>
                <td>@message.Received</td>
            </tr>
        }
    </tbody>
</table>