﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NBMFS</h1>
    <p class="lead">This is the Napier Bank Message Filtering Service.</p>
    <p><a href="/Message/Create" class="btn btn-primary btn-lg">New Message &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Number of Messages</h3>
            </div>
            <div class="panel-body">
                <h2>@ViewBag.MessageCount</h2>
                <p><a href="/Message" class="btn btn-primary">View Messages &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trending Hashtags</h3>
            </div>
            <table class="table panel-body">
                <thead>
                <tr>
                    <th>Hashtag</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var hashtag in ViewBag.Hashtags)
                    {
                        <tr>
                            <td>@hashtag.Key</td>
                            <td>@hashtag.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Significant Incidents</h3>
            </div>
            <table class="table panel-body">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nature</th>
                    <th>Sort Code</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var sir in ViewBag.SIRs)
                    {
                        <tr>
                            <td>@Html.ActionLink((string)sir.ID, "Details", "Message", new { sir.ID }, null)</td>
                            <td>@sir.Nature</td>
                            <td>@sir.SortCode</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>